
 {% for host in hosts %}
    {{ host }}
    upstream {{ host.external_hostname }} {
     // can be connected with network {{ host.network }}
        server_name {{ host.internal_hostname }}:{{ host.port }};
    }
    server{
        listen 80;
        name {{ host.external_hostname }};
        location / {
         proxy_pass http://{{  host.external_hostname }}/;
        }

    }

 {% endfor %}