name: Docker Image CI

on:
  push:
    tags:
      - '*'
    branches:
      - master
      - dev

jobs:
  docker:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to DockerHub
        uses: docker/login-action@v2
        with:
          username: mesudip
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push for tags
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/build-push-action@v5
        with:
          file: Dockerfile
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: |
            mesudip/nginx-proxy:${{ github.ref_name }}
            mesudip/nginx-proxy:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Build and push for main branch
        if: github.ref == 'refs/heads/master'
        uses: docker/build-push-action@v5
        with:
          file: Dockerfile
          context: .
          platforms: linux/amd64,linux/arm64
          push: true
          tags: mesudip/nginx-proxy:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max
